# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/__pycache__/
/.idea/
/dist/
/dictionary.egg-info/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
# Windows shortcuts
*.lnk

/eng_dictionary.egg-info/
/dictionary.egg-info/
